* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(250, 250, 250);
}

header {
    padding: 8px;
    display: flex;
    justify-content: center;
    background-color: rgb(255,255,255);
    border-bottom: 1px solid rgb(228, 228, 228);
}

.searchEngine {
    display: flex;
    align-items: center;
    margin-left: 256px;
}

.brandLogo {
    margin-right: -40px;
}

.instagramLogo {
    height: 40px;
    width: auto;
}

#fa-magnifying-glass {
    color: rgb(192, 192, 192);
    position: relative;
    margin-right: -24px;
}

.searchEngine input {
    height: 36px;
    width: 256px;
    padding-left: 32px;
    outline: none;
    border: none;
    background: rgb(239, 239, 239);
    border-radius: 8px;
    font-size: 1rem;
    color: rgb(0, 0, 0);
}

.navigationIcons {
    display: flex;
    align-items: center;
    margin-left: 128px;
}

#fa-house,
#fa-facebook-messenger,
#fa-square-plus,
#fa-compass,
#fa-heart {
    margin-right: 16px;
    font-size: 1.6rem;
    cursor: pointer;
}

#fa-house:active,
#fa-facebook-messenger:active,
#fa-square-plus:active,
#fa-compass:active,
#fa-heart:active {
    color: rgb(173, 173, 173);
}